<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Bukowski on Sinatra" %></title>
    <link href="styles/main.css" rel="stylesheet" type="text/css">
    <link href="bower_components/octicons/octicons/octicons.css" rel="stylesheet" type="text/css">
    <link href="images/favicon.ico" rel="icon">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <span class="mega-octicon octicon-mark-github"></span>
        <a href="https://github.com/dcarral/bukowski-on-sinatra">dcarral/bukowski-on-sinatra</a>
      </div>
    </div>
  </body>
</html>
